@font-face {
  font-family: myFont;
  src: url(Azo\ Sans\ Uber\ W01\ Regular.ttf);
}

@font-face{
  font-family: myFont2;
  src: url(Courier\ Std\ Medium.otf)
}


/*#root{
  font-size: large;
}*/

/* Global box sizing */
*{
  box-sizing: border-box;
}

/*Global font for paragraphs*/

p{
  font-family: myFont2;
}

hr{
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid black;
}

.logo{
  text-decoration: none;
  color: white;
}

/*Navigation bar*/
.div_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;  
  padding-bottom: 35px;
  height: 8px;
  max-width: 500%;
  font-family: myFont;
  font-size: 20px;
  background-color: #000000;
  color: white;
  text-decoration: none;
}

.navlist{
  display: flex;
  justify-content: inherit;
  list-style-type: none;
  gap: 2rem;
  font-family: inherit;
}

.navigation_item{
  font-style: inherit;
  color: white;
  text-decoration: inherit;
}

.body {
  background-color:#0e56ca;
  margin: 0;
  
}

.hero_section {
  display: flex;
  font-size: 80px;
  padding: 0px;
  justify-content: center;
  overflow:visible;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  max-height: 100vh;
} 


.hero_text{
  padding: 20px;
  color: white;
  border-style:solid;
  font-size: 60%;
  border-radius: 20px;
  background-size: 10px;
  background-color: rgb(0, 95, 0);
  max-height: 100vh;
  box-shadow: 10px 20px 30px #000000;
}

.about_img_container{
  display: flex;
  justify-content: space-between;
  border-style: 10px solid black;
  width: 100px;
  height: 200px;
  margin: 10px;
  padding: 20px;
}

.about_section{
  display: flex;
  align-content: space-between;
  margin: 40vh 20vh !important;
  gap: 10vh;


}
.about_container{
  flex-wrap: wrap;
  align-content: center;
  font-family: Arial, Black, sans-serif;
  border-style:solid;
  color: black;
  padding: 40px;
  border-radius: 30px;
  background-color: rgb(221, 196, 163);
  box-shadow: 20px 14px 40px #000000;
  position: static;
  margin-top: 10px;
  margin-bottom: 10px;

}

.about_img{  
  width: 400pt;
  border-radius: 31px 32px 37px 39px;
  border-style: dashed;
  

}


/*.about_text{

}*/


